body{
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 8px;
}


form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

.center{
    display: block;
    text-align: -webkit-center;
}

table{
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
    border-color: grey;
}

td{
    display: table-cell;
    vertical-align: inherit;
}

input:not([type="image" i]) {
    box-sizing: border-box;
}